body{
    font-family: Arial, sans-serif;
    margin:0;
    padding: 20px;
    background-color: white;

}
header{
    background-color: #007BFF;
    color: white;
    padding: 10px;
    text-align: center;
    border:solid #0056b3;
    border-radius: 5px; /* Arredondando os cantos da borda */
}
.nav{
    background-color: #333;
    color: white;
    padding: 10px;
    
}
section{
    background-color: white;
    margin-bottom: 20px;/* Espaço abaixo  */
    padding: 15px;
}
strong {
    color: #333;
}

.contact-info,
.resume,
.experiencia,
.academica,
.habilidades,
.social {
    display: flex;
    flex-direction: column;
}
.profile-image {
    width: 100px; /* Ajuste o tamanho conforme necessário */
    height: auto; /* Mantém a proporção da imagem */
    border-radius: 50%; /* Torna a imagem redonda */
    margin-bottom: 10px; /* Espaço abaixo da imagem */
}
.social a {
    display: block;
    margin: 5px 0;
}

.social a:hover {
    text-decoration: underline;
}

/* Adicionando estilo específico para a seção de experiência */
.experiencia  {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    border: solid;
}

/* Estilizando as listas de habilidades para alinhamento horizontal */
.habilidades  {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    border: solid;
}
.academica{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    border: solid;
}
.resume{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    border: solid;
}
.contact-info{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    border: solid;
}
.social{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    border: solid;
}
/*wrap: Os itens que não cabem na linha
atual são movidos para a linha seguinte.*/  